<launch>
    <!-- We inherit the logic in empty_world.launch, changing only the name of
        the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ws03_gazebo)/worlds/ws03.world"/>
        <!-- more default parameters can be changed here -->
    </include>
</launch>

